---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main>
    <section>
      <h2>Canada</h2>
      <p>
        <b>Designo Central Office</b>
        <span>3886 Wellington Street</span>
        <span>Toronto, Ontario M9C 3J5</span>
      </p>
      <p>
        <b>Contact</b>
        <span>P : +1 253-863-8967</span>
        <span>M : contact@designo.co</span>
      </p>
      <picture>
        <source media="(min-width: 64rem)" srcset="./assets/locations/desktop/image-map-canada.png" />
        <img src="./assets/locations/tablet/image-map-canada.png" alt="" />
      </picture>
    </section>
    <section>
      <h2>Australia</h2>
      <p>
        <b>Designo AU Office</b>
        <span>19 Balonne Street</span>
        <span>New South Wales 2443</span>
      </p>
      <p>
        <b>Contact</b>
        <span>P : (02) 6720 9092</span>
        <span>M : contact@designo.au</span>
      </p>
      <picture>
        <source media="(min-width: 64rem)" srcset="./assets/locations/desktop/image-map-australia.png" />
        <img src="./assets/locations/tablet/image-map-australia.png" alt="" />
      </picture>
    </section>
    <section>
      <h2>United Kingdom</h2>
      <p>
        <b>Designo UK Office</b>
        <span>13 Colorado Way</span>
        <span>Rhyd-y-fro SA8 9GA</span>
      </p>
      <p>
        <b>Contact</b>
        <span>P : 078 3115 1400</span>
        <span>M : contact@designo.uk</span>
      </p>
      <picture>
        <source media="(min-width: 64rem)" srcset="./assets/locations/desktop/image-map-united-kingdom.png" />
        <img src="./assets/locations/tablet/image-map-uk.png" alt="" />
      </picture>
    </section>
    <section>
      <h2>Let’s talk about your project</h2>
      <p>
        Ready to take it to the next level? Contact us today and find out how
        our expertise can help your business grow.
      </p>
      <a href="./contact.html">Get in touch</a>
    </section>
  </main>
</Layout>
