<footer>
	<a href="./index.html">
		<img src="./assets/shared/desktop/logo-light.png" alt="Designo Agency" />
	</a>
	<nav>
		<ul>
			<li><a href="./about.html">Our Company</a></li>
			<li><a href="./locations.html">Locations</a></li>
			<li><a href="./contact.html">Contact</a></li>
		</ul>
	</nav>
	<address>
		<div>
			<b>Designo Central Office</b>
			<span>3886 Wellington Street</span>
			<span>Toronto, Ontario M9C 3J5</span>
		</div>
		<div>
			<b>Contact Us (Central Office)</b>
			<a href="tel:+12538638967">P : +1 253-863-8967</a>
			<a href="mailto:contact@designo.co">M : contact@designo.co</a>
		</div>
	</address>
	<nav>
		<ul>
			<li><a href="#">Facebook</a></li>
			<li><a href="#">YouTube</a></li>
			<li><a href="#">Twitter</a></li>
			<li><a href="#">Pinterest</a></li>
			<li><a href="#">Instagram</a></li>
		</ul>
	</nav>
</footer>
