<header>
	<a href="./index.html">
		<img src="./assets/shared/desktop/logo-dark.png" alt="Designo Agency" />
	</a>
	<nav>
		<ul>
			<li><a href="./about.html">Our Company</a></li>
			<li><a href="./locations.html">Locations</a></li>
			<li><a href="./contact.html">Contact</a></li>
		</ul>
	</nav>
</header>
